<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727634198667-74rhuatbil1dofskulgjtjfrnmvdg9kd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727634198667-74rhuatbil1dofskulgjtjfrnmvdg9kd</string>
	<key>API_KEY</key>
	<string>AIzaSyC4kIKA-oxwOkNZ1UzY3VOZZdRmwRBt5y4</string>
	<key>GCM_SENDER_ID</key>
	<string>727634198667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.reactNative</string>
	<key>PROJECT_ID</key>
	<string>devtest-43c57</string>
	<key>STORAGE_BUCKET</key>
	<string>devtest-43c57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727634198667:ios:adb1ff1da130be4166548e</string>
</dict>
</plist>