Django==3.1.8
djangorestframework==3.12.2
djangorestframework-jwt
django-cors-headers
django-rest-swagger
django-redis
django-sslserver
django-ckeditor
django-timezone-field
channels
channels_redis
mysqlclient
requests
coreapi
celery[redis]==4.4.7
django-celery-beat
django-celery-results
psutil