Django==2.2.18
djangorestframework==3.11.2
djangorestframework-jwt
django-cors-headers
django-rest-swagger
django-redis
django-sslserver
django-ckeditor
channels
channels_redis
mysqlclient
requests
coreapi
celery[redis]==4.4.7
django-celery-beat
django-celery-results
psutil