Django==2.2.10
djangorestframework==3.9.4
djangorestframework-jwt
django-cors-headers
django-rest-swagger
django-redis
django-sslserver
django-ckeditor
channels
channels_redis
pymysql
requests
coreapi
celery[redis]
django-celery-beat
django-celery-results